.language-dropdown {
  position: relative;
  cursor: pointer;
}

.language-button {
  text-decoration: none;
  color: var(--text-color);
  border-color: #17a2b8;
  display: block;
  padding: 0.75rem;
  border-radius: 8px;
  background: rgba(18, 17, 17, 0.1);
  transition: background 0.3s ease, transform 0.3s ease;
}

.language-button:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #f0f0f0;
  transform: translateY(-2px);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--card-background);
  border-radius: 10px;
  
  padding: 0.5rem 0;
  z-index: 1000;
  min-width: 150px;
  li {
      margin: 1vh;
    }
  a {
      text-decoration: none;
      color: var(--text-color);
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
      display: block;
      transition: background 0.3s ease;
      border-radius: 10px;
    }
  a:hover {
      background: rgba(255, 255, 255, 0.581);
      border-radius: 10px;
    }
}